.main-img {
    width: 100%;
    height: auto;
    max-width: 500px;
    border-radius: 5px;
}

section {
    padding: 2rem;
    background-color: rgba(31, 151, 226, 0.5);
    border-radius: 5px;
    transition: 0.5s;
}

section:hover {
  background-color: #1f97e2;;
}

.cards section {
    max-width: 500px;
}

@media screen and (min-width: 992px) {
    section {padding: 1rem;
        background-color: #f5efe9}

    figcaption {display: none}


}
