@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Staatliches&display=swap');


::selection {
    background-color: #e26a1f;
    color: #ffffff;
}

body {
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Staatliches", sans-serif;
}

.bg-\#f3edd6 {
    background-color: #f3edd6;
}

.nav {
    --bs-nav-link-hover-color: #c24511;
}

.nav-link {
    color: #e26a1f;
    transition: 0.5s;
}

.nav-link:hover {
    color: #c24511;
}

.nav-pills {
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #e26a1f;
    transition: 0.5s;
}

.full-footer {
    background-color: #f3edd6;
}


